
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: #f0f0f0; 
    color: #0e0e0e; 
}


header {
    background-color: #000; 
    padding: 0px 0;
    text-align: center;
}

header .logo {
    width: 300px;
    height: auto;
}

header .titulo-header {
    color: rgb(213, 160, 160);
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    display: block;
    margin-top: 10px;
}


.menu {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding: 10px 0;
    background-color: #f4ce99;
    margin-top: 10px;
}

.menu-item {
    margin: 0 20px;
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-item:hover {
    text-decoration: underline;
}


main {
    padding: 30px;
    background-color: #f8ecbe; /* Fondo blanco para el contenido */
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.contenido {
    flex: 3;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.video-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.video {
    width: 80%; 
    max-width: 600px; 
    height: auto; 
    border: 2px solid #611dba; 
    border-radius: 10px; 
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 15px 0;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #611dba;
    color: white;
}

td {
    background-color: #a7e884;
    color: rgb(9, 9, 9);
}

.barra-lateral {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.barra-lateral .indice,
.barra-lateral .autor,
.informacion, 
.Noticias{
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.barra-lateral h3 {
    color: #ff6700;
}

.barra-lateral ul {
    padding: 0;
    list-style: none;
}

.barra-lateral ul li {
    margin-bottom: 8px;
}

.introduccion, .productos, .novedades, .articulos {
    margin-bottom: 30px;
}

.titulo-secundario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #c2d856;
    margin-bottom: 25px;
    text-align: center;
}
.titulo-tres{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #6f3ded;
    margin-bottom: 15px;
    text-align: left;
}
.titulo-cuatro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #33e518;
    margin-bottom: 15px;
    text-align: left;
}
.titulo-cinco{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #5109fa;
    margin-bottom: 15px;
    text-align: left;
}
.titulo-seis{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #335556;
    margin-bottom: 15px;
    text-align: left;
}

.parrafo-introduccion {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 30px;
    line-height: 1.6;
    color: #242323;
    margin-bottom: 20px;
    text-align: right;
}
.parrafo-secundario{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #0f0f0f;
    margin-bottom: 20px;
    text-align: left;

}
.parrafo-tres{
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #131212;
    margin-bottom: 20px;
    text-align: center;
}

.parrafo-footer {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}
.parrafo-hist {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #131212;
    margin-bottom: 20px;
    text-align:left;
}


.lista-productos, .lista-enlaces {
    list-style-type: none;
    padding-left: 0;
}

.lista-productos li, .lista-enlaces li {
    font-size: 20px;
    margin-bottom: 8px;
}
.lista-productos, .producto-nombre{
    font-size: 20px;
    margin-bottom: 8px;
    color: #2e283b;
    text-decoration: underline;

}

.lista-enlaces li a {
    color: #cc00cc;
}

.lista-enlaces li a:hover {
    text-decoration: underline;
}

.lista-gadgets, .gadgets{
    font-size: 20px;
    margin-bottom: 8px;
    color: #070707;
    font-family:'Times New Roman', Times, serif;
}
.lista-gadgets, .gadgets{
    list-style-type: none;
    padding-left: 0;
}


.lista-smartphones, .name-p{
    list-style-type: none;
    padding-left: 0;
}

.lista-smartphones, .name-p {
    font-size: 20px;
    margin-bottom: 8px;
    text-decoration: underline;
}

.lista-smartphones, .name-p {
    color: #262529;
}



.imagen-principal  {
    max-width: 40%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    margin: 0 auto;
}
.imagen-secundaria{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    margin: 0 auto;
}
.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contacto label {
    font-weight: bold;
    color: #0b0b0b;
}

.form-contacto input, 
.form-contacto textarea, 
.form-contacto select {
    width: 100%;
    padding: 10px;
    border: 1px solid #1bd44f;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.form-contacto input:focus, 
.form-contacto textarea:focus, 
.form-contacto select:focus {
    border-color: #611dba;
    box-shadow: 0 0 5px rgba(97, 29, 186, 0.5);
    outline: none;
}

.form-contacto input[type="submit"] {
    background-color: #30bd17;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-contacto input[type="submit"]:hover {
    background-color: #3b17d7;
}


@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
        align-items: stretch;
    }
}

.pie-pagina {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 0px;
}

.texto-footer {
    font-size: 16px;
    margin-bottom: 10px;
}

.icono-footer {
    width: 10%;
    height: auto;
    margin: 0 10px;
}

.icono-footer img {
    width: 2.5%;
}

.icono-dos-footer {
    width: 10%;
    height: auto;
    margin: 0 10px;
}

.icono-dos-footer img {
    width: 2.4%;
}
.icono-tres-footer {
    width: 10%;
    height: auto;
    margin: 0 10px;
}

.icono-tres-footer img {
    width: 2.4%;
}
.icono-cuatro-footer {
    width: 10%;
    height: auto;
    margin: 0 10px;
}

.icono-cuatro-footer img {
    width: 2.8%;
}
